// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #CC00FF;
$purple: #8f00b3;
$yellow: #CC00FF;
$orange: #E67E22;
$green: #32B796;
$black: #000000;
$middle-gray: #9E9E9E;
$light-gray: #F4F4F4;
$fushia: #FF003D;
