<div class="banner" style="background-image: url('https://imgur.com/a/qYYDHac');">
      <div class="banner-content">
        <h1>DESTROY EVERYTHING AT HOME</h1>
        <p>Find unique places to party, go wild and destroy everything</p>

      <div class="search">
      <input type="text" placeholder="Search...">
    </div>

        <a class="btn-green">Find</a>
      </div>
</div>
