
.search {
  background-color: #ffffff ;
  position: relative ;

}

.search input {
  width: 500px;
  margin-right : 15px;
  font-size: 16px ;
  line-height: 22px ;
  color: #484848 ;
  border-width: 1px ;
  border-style: solid ;
  border-radius: 2px ;
  border-color: #ccc ;
}
