/* Style the tab */
.tabs {
    overflow: hidden;
    background: inherit;
    display: flex;
    padding: 10px 10px 0 10px
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tablinks {
  background: white;
  flex: 0 0 33%;
  text-align: center;
  padding: 20px 0;
  color: $purple;
  font-weight: 900;
}

.tablinks:first-child {
  border-radius: 10px 0 0 0;
}

.tablinks:last-child {
  border-radius: 0 10px 0 0;
}

.tablinks.active {
  background: white;
  color: black;
}

/* Change background color of buttons on hover */
.tab button:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
